.revenue-card {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 2px 1rem;
  padding-left: 0px;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
  background-color: #053636;

  tspan{
    fill:  rgb(201, 197, 197);
  }

  .card-header {
    padding-bottom: 0.5rem;

    .card-title {
      padding-left: 5px;
      font-size: 1.25rem;
      font-weight: 600;
      color: white;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .card-content {
    height: 250px;
  }
}