@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}

html,
body {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-image: url(https://images.unsplash.com/photo-1570483358100-6d222cdea6ff?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fHNreXxlbnwwfHwwfHx8MA%3D%3D); */
  backdrop-filter: opacity(1);
  background-position: center;
  background-size: cover;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lexend";

  background-color: rgba(145, 138, 138, 0.372);
  /* Semi-transparent */
  backdrop-filter: blur(12px);
  /* Blur effect */
  -webkit-backdrop-filter: blur(2px);
  /* Safari support */
}

.sec-home {
  width: 80%;
  max-width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.847);
  border-radius: 15px;
  padding: 20px;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.log-reg-div {
  width: fit-content;
  display: flex;
  border: none;
  padding: 3px;
  border-radius: 12px;
  background-color: rgba(209, 203, 203, 0.815);
}

.log-reg-btn {
  border: none;
  background: none;
  padding: 4px 18px;
  border-radius: 8px;
  font-size: 1rem;
}

.userTypeDiv {
  width: fit-content;
  display: flex;
  border: none;
  padding: 3px;
  border-radius: 12px;
  background-color: rgba(209, 203, 203, 0.815);
}

.userTypeBtn {
  border: none;
  background: none;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 1rem;
}

.form-select {
  width: 80%;
  padding: 10px 12px;
  outline: none;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(142, 147, 147, 0.557);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

option {
  width: fit-content;
  background-color: rgba(152, 156, 151, 0.26);
}

.form p {
  align-self: flex-start;
  padding-left: 10%;
}

input {
  width: 80%;
  padding: 10px 12px;
  outline: none;
  border-radius: 8px;
  background-color: white;
  border: 1px solid rgba(142, 147, 147, 0.557);
}

.form a {
  align-self: flex-end;
  padding-right: 10%;
  color: black;
  text-decoration: none;
}

input[type="submit"] {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}

.userHome {
  width: 100%;
  height: 100%;
}

.navBar {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 8px 1.2rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 12px;
  box-shadow: 0 0 4px rgba(38, 37, 37, 0.327);
}
.fa-bell {
  color: rgb(14, 13, 13);
  font-size: 1.1rem;
  border: 1px solid rgba(19, 18, 18, 0.279);
  border-radius: 50%;
  background-color: white;
  padding: 9px;
  box-shadow: 10px;
}

.main {
  width: 100%;
  height: 80%;
  padding: 8px 1.2rem;
  background-color: #41444817;
  overflow: auto;
}

.searchBar {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  position: relative;
}

.searchBar lord-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: rgb(9, 9, 9);
  font-size: 20px;
}

.searchBar input {
  width: 100%;
  padding: 10px 12px 10px 40px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  border: 1px solid rgba(48, 47, 47, 0.312);
  box-shadow: 0 0 4px rgba(38, 37, 37, 0.327);
  outline: none;
}

.searchBar input::placeholder {
  font-weight: 300;
  font-family: "helvetica";
  padding-left: 8px;
  font-size: 16px;
}

article.article-one {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 16px;
  min-height: 110px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px rgba(38, 37, 37, 0.327);
}

.article-one h3 {
  font-size: 5vw;
}

.featured-product {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 16px;
  min-height: 110px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px rgba(38, 37, 37, 0.327);
}

.featured-product h1 {
  font-size: 5vw;
}

.announcements-banner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 16px;
  min-height: 110px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px rgba(38, 37, 37, 0.327);
}

.announcements-banner h3 {
  font-size: 5vw;
}

.footer {
  height: 10%;
  padding: 8px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
   box-shadow: 0 0 6px rgba(38, 37, 37, 0.546);
}

.lord-icon{
background-color: red;
}
